* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url(../font/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../font/Roboto-Regular.ttf);
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit;

  &:visited {
    color: inherit;
  }
}
